In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("extract.parquet.gzip")

In [3]:
df["collection_timestamp"].value_counts()

20211031_2106    46
20211101_1030     3
20211101_1100     3
20211101_1300     3
20211101_1330     3
20211101_1800     3
20211101_0930     2
20211101_1000     2
20211101_1130     2
20211101_1200     2
20211101_1400     2
20211101_1500     2
20211101_0730     1
20211101_0830     1
20211101_0900     1
20211101_1830     1
Name: collection_timestamp, dtype: int64

In [4]:
df["price_per_sqm"] =  df["rent_total_with_vat"].str[:-2].str.replace(".","").str.replace(",",".").astype("float")/df["living_space"]

/tmp/ipykernel_93359/1121883873.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["price_per_sqm"] =  df["rent_total_with_vat"].str[:-2].str.replace(".","").str.replace(",",".").astype("float")/df["living_space"]

In [5]:
df.query("(wbs_required == False) & (living_space > 70)")[["neighborhood.district","headline","number_of_rooms","living_space","full_address","rent_total_with_vat","price_per_sqm"]]

,neighborhood.district,headline,number_of_rooms,living_space,full_address,rent_total_with_vat,price_per_sqm
26,Tempelhof-Schöneberg,Schöne 3-Zimmer Wohnung sucht Familie!,3 Zimmer,75.72,Pechsteinstraße 64 | 12309 Berlin,"655,73 €",8.659931
32,Marzahn-Hellersdorf,Erstbezug Neubau - Wohnung ausschließlich für ...,3 Zimmer,71.72,Ludwig-Renn-Straße 56 | 12679 Berlin,"742,03 €",10.346207
33,Marzahn-Hellersdorf,Erstbezug Neubau - Wohnung ausschließlich für ...,3 Zimmer,76.07,Ludwig-Renn-Straße 56 | 12679 Berlin,"750,00 €",9.859340
41,Steglitz-Zehlendorf,Großzügige 3-Zimmer-Wohnung im Erstbezug,3 Zimmer,84.49,Retzowstraße 54E | 12249 Berlin,"1.056,13 €",12.500059
42,Tempelhof-Schöneberg,Schöne Wohnung sucht Studenten-WG!,3 Zimmer,102.11,Dominicusstraße 39 | 10827 Berlin,"1.074,52 €",10.523161
43,Steglitz-Zehlendorf,Familienwohnung - Erstbezug,4 Zimmer,96.60,Retzowstraße 54D | 12249 Berlin,"1.207,50 €",12.500000
44,Steglitz-Zehlendorf,Großzügige 3 Zimmer-Wohnung im Neubau,3 Zimmer,84.35,Retzowstraße 54A | 12249 Berlin,"1.223,08 €",14.500059
58,Marzahn-Hellersdorf,Erstbezug Neubau - Wohnung ausschließlich für ...,3 Zimmer,71.72,Ludwig-Renn-Straße 56 | 12679 Berlin,"742,03 €",10.346207
60,Marzahn-Hellersdorf,Erstbezug Neubau - Wohnung ausschließlich für ...,3 Zimmer,76.07,Ludwig-Renn-Straße 56 | 12679 Berlin,"750,00 €",9.859340
70,Umland,Schöne 3 Zimmer Wohnung mit Einbauküche,3 Zimmer,76.60,Falkenstraße 5 | 14612 Falkensee,"858,75 €",11.210836