In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("extract.parquet.gzip")

In [3]:
df["collection_timestamp"].value_counts().sort_index()

20211031_2106    46
20211101_0730     1
20211101_0830     1
20211101_0900     1
20211101_0930     2
                 ..
20211109_1830     1
20211109_1900     2
20211109_1930     2
20211110_0030     1
20211110_0100     2
Name: collection_timestamp, Length: 169, dtype: int64

In [4]:
df["price_per_sqm"] =  df["rent_total_with_vat"].str[:-2].str.replace(".","").str.replace(",",".").astype("float")/df["living_space"]

/tmp/ipykernel_148485/1121883873.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["price_per_sqm"] =  df["rent_total_with_vat"].str[:-2].str.replace(".","").str.replace(",",".").astype("float")/df["living_space"]

In [5]:
df.query("(wbs_required == False) & (living_space > 70)")["neighborhood.district"].value_counts()

Marzahn-Hellersdorf     42
Neukölln                 9
Steglitz-Zehlendorf      8
Umland                   3
Tempelhof-Schöneberg     2
Mitte                    2
Name: neighborhood.district, dtype: int64

In [6]:
df.query("(wbs_required == False) & (living_space > 70)")[["collection_timestamp","neighborhood.district","headline","number_of_rooms","living_space","full_address","rent_total_with_vat","price_per_sqm"]]

,collection_timestamp,neighborhood.district,headline,number_of_rooms,living_space,full_address,rent_total_with_vat,price_per_sqm
26,20211031_2106,Tempelhof-Schöneberg,Schöne 3-Zimmer Wohnung sucht Familie!,3 Zimmer,75.72,Pechsteinstraße 64 | 12309 Berlin,"655,73 €",8.659931
32,20211031_2106,Marzahn-Hellersdorf,Erstbezug Neubau - Wohnung ausschließlich für ...,3 Zimmer,71.72,Ludwig-Renn-Straße 56 | 12679 Berlin,"742,03 €",10.346207
33,20211031_2106,Marzahn-Hellersdorf,Erstbezug Neubau - Wohnung ausschließlich für ...,3 Zimmer,76.07,Ludwig-Renn-Straße 56 | 12679 Berlin,"750,00 €",9.859340
41,20211031_2106,Steglitz-Zehlendorf,Großzügige 3-Zimmer-Wohnung im Erstbezug,3 Zimmer,84.49,Retzowstraße 54E | 12249 Berlin,"1.056,13 €",12.500059
42,20211031_2106,Tempelhof-Schöneberg,Schöne Wohnung sucht Studenten-WG!,3 Zimmer,102.11,Dominicusstraße 39 | 10827 Berlin,"1.074,52 €",10.523161
...,...,...,...,...,...,...,...,...
376,20211109_1430,Neukölln,Erstbezug Neubau,4 Zimmer,86.68,Theodor-Loos-Weg 15 | 12353 Berlin,"1.213,52 €",14.000000
377,20211109_1430,Neukölln,Erstbezug Neubau,5 Zimmer,104.02,Theodor-Loos-Weg 15 | 12353 Berlin,"1.352,26 €",13.000000
379,20211109_1530,Steglitz-Zehlendorf,Großzügige Familienwohnung in Lankwitz - Erstb...,5 Zimmer,126.37,Retzowstraße 54A | 12249 Berlin,"1.863,96 €",14.750020
387,20211110_0100,Neukölln,Erstbezug Neubau,4 Zimmer,86.68,Theodor-Loos-Weg 15 | 12353 Berlin,"1.213,52 €",14.000000
388,20211110_0100,Neukölln,Erstbezug Neubau,5 Zimmer,104.02,Theodor-Loos-Weg 15 | 12353 Berlin,"1.352,26 €",13.000000